@model ContiNet.Models.Country
@{
Layout = "~/src/Views/Shared/_Layout.cshtml";
}

<div class="flex justify-evenly gap-36 w-full max-w-screen-xl">
  <p class="text-left text-3xl font-bold text-cyan-1000 w-full max-w-screen-xl mx-12">Edit Country</p>
</div>

<div class="flex justify-center items-center bg-cyan-200 w-full w-max-screen-xl m-2 mb-12">
  <form class="grid gap-6 m-12 mx-auto max-w-screen-xl" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="form-group grid justify-center grid-cols-[30%_70%] gap-12 gap-y-2 ">
      <p class="relative text-xl font-bold text-left text-cyan-700 mb-2 h-full inline-block align-middle">Name</p>
      <input class="form-control rounded-lg p-2" type="text" id="Name" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group grid justify-center grid-cols-[30%_70%] gap-12 gap-y-2 ">
      <p class="relative text-xl font-bold text-left text-cyan-700 mb-2 h-full inline-block align-middle">Continent</p>
      <select id="ContinentId" name="ContinentId" required>
        @foreach (var continent in ViewBag.Continents as List<ContiNet.Models.Continent>)
          {
          <option value="@continent.Id" @(Model.ContinentId==continent.Id ? "selected" : "" )>
            @continent.Name
          </option>
          }
      </select>
    </div>
    <div class="form-group grid justify-center grid-cols-[30%_70%] gap-12 gap-y-2 ">
      <p class="relative text-xl font-bold text-left text-cyan-700 mb-2 h-full inline-block align-middle">Population</p>
      <input class="form-control rounded-lg p-2" type="text" id="Population" name="Population" value="@Model.Population" required />
    </div>
    <button class="w-full max-w-96 bg-cyan-1000 rounded-lg p-2" type="submit">Save</button>
  </form>
</div>

<a class="bg-gray-600 text-white w-36 rounded-lg p-2" href="@Url.Action("Index", "Country" )">Back to List</a>
