@model IEnumerable<ContiNet.DTOs.CountryDTO>
  @{
  Layout = "~/src/Views/Shared/_Layout.cshtml";
  }

  <div class="flex justify-evenly gap-36 w-full max-w-screen-xl">
    <p class="text-left text-3xl font-bold text-cyan-1000">Countries</p>
    <a class="bg-cyan-1000 text-white px-4 py-2 rounded-md hover:bg-cyan-900" href="/Country/Create">Create New</a>
  </div>
  <div class="flex justify-center items-center bg-cyan-200 w-full w-max-screen-xl m-2 mb-12">
    <div class="grid justify-center grid-cols-[20%_12%_12%_24%] gap-12 gap-y-2 m-12 w-full">
      <div class="text-left">Name</div>
      <div class="text-center">Continent</div>
      <div class="text-center">Population</div>
      <div class="text-center">Actions</div>
      @foreach (var country in Model)
      {
      <div class="text-left text-2xl font-bold text-gray-700 mb-2">@country.Name</div>
      <div class="text-center text-xl font-bold text-gray-700 mb-2">@country.ContinentName</div>
      <div class="text-center text-xl font-bold text-gray-700 mb-2">@country.Population</div>
      <div class="flex flex-row justify-center items-center gap-4 mb-2">
        @Html.Partial("_Details", $"Country/Details/{@country.Id}")
        @Html.Partial("_Edit", $"Country/Edit/{@country.Id}")
        @Html.Partial("_Delete", $"Country/Delete/{@country.Id}")
      </div>
      }
    </div>
  </div>
